@import "lib/style.css";

a:link {
	color: #03677f;
	text-decoration: underline;
}

a:visited {
	color: #03677f;
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

textarea.template {
	display: none;
}

del * {
	text-decoration: line-through;
}

ins {
}


body {
	line-height: 1.66;
}

#whole {

}

.calc {
	float: left;
	width: 30em;
	border: 1px solid #ccc;
	padding: 1em;
	margin: 0 1em 1em 0;
}

hr {
	clear: both;
}

dl.input {
	line-height: 1.33;
}

dl.input dt {
	font-weight: bold;
	width: 8em;
}

dl.input dd {
	margin: -1.33em 0 0.33em 8em;
}

.output {
	padding: 1em;
	font-weight: bold;
}

.memo {
	font-size: 80%;
	color: #999;
}

.less {
	font-size: 80%;
}

math {
	font-size: 150%;
}

p.example {
	float: right;
	margin: 0 0 0 2em;
	padding: 0;
}

pre {
	line-height: 1.33;
	font-size: 90%;
}

.graph {
	position: relative;
	height: 200px;
	font-size: 80%;
	margin: 0.5em 0.3em 0;
	padding: 0;
}

.graphbar {
	position: absolute;
	bottom: 0;
	text-indent: -1000px;
	overflow: hidden;
	background: #555;
}

.spinbutton {
}

.spinbutton .up,
.spinbutton .down {
	background: #ccc;
	border: 1px solid #999;
}

#calcall {
	width: 40em;
}

#calcall-output {
	font-size: 90%;
}

.delta {
	font-size: 80%;
	color: #444;
}

table {
	font-size: 8pt;
	width: 100%;
	margin: 10px 0pt 15px;
	background: #cdcdcd;
	text-align: left;
}

tableg thead tr th,
table tfoot tr th {
	background: #e6eeee;
	border: 1px solid #fff;
	font-size: 8pt;
	padding: 4px;
}

table tbody td {
	color: #3D3D3D;
	padding: 4px;
	background: #FFF;
	vertical-align: top;
}
