
a:link {
	color: #03677f;
	text-decoration: underline;
}

a:visited {
	color: #03677f;
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

textarea.template {
	display: none;
}


body {
	line-height: 1.66;
}

#whole {

}

.calc {
	width: 30em;
	border: 1px solid #ccc;
	padding: 1em;
}

dl.input {
	line-height: 1.33;
}

dl.input dt {
	font-weight: bold;
	width: 8em;
}

dl.input dd {
	margin: -1.33em 0 0.33em 8em;
}

.output {
	padding: 1em;
	font-weight: bold;
}

.memo {
	font-size: 80%;
	color: #999;
}

math {
	font-size: 150%;
}

p.example {
	float: right;
	margin: 0 0 0 2em;
	padding: 0;
}

pre {
	line-height: 1.33;
	font-size: 90%;
}

.graph {
	position: relative;
	height: 200px;
	font-size: 80%;
	margin: 0.5em 0.3em 0;
	padding: 0;
}

.graphbar {
	position: absolute;
	bottom: 0;
	text-indent: -1000px;
	overflow: hidden;
	background: #555;
}

.spinbutton {
	display: inline-block;
	vertical-align: top;
	width: 1.2em;
}

.spinbutton .up,
.spinbutton .down {
	cursor: default;
	display: none;
	text-align: center;
	width: 1em;
	background: #ccc;
	border: 1px solid #999;
}
